<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="content-language" content="{{ app.request.getLocale() }}">
        <meta name="description" content="{% block description %}{{ appname }}{% endblock %}">
        <meta name="keyword" content="blog;php;symfony;web;javascript;css">
        <title>{% block title %}{{ appname }}{% endblock %}</title>
        <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('bundles/app/images/favicon/apple-touch-icon.png') }}">
        <link rel="icon" type="image/png" href="{{ asset('bundles/app/images/favicon/favicon-32x32.png') }}" sizes="32x32">
        <link rel="icon" type="image/png" href="{{ asset('bundles/app/images/favicon/favicon-16x16.png') }}" sizes="16x16">
        <link rel="manifest" href="/manifest.json">
        <link rel="mask-icon" href="{{ asset('bundles/app/images/favicon/safari-pinned-tab.svg') }}" color="#5bbad5">
        <link rel="shortcut icon" href="{{ asset('bundles/app/images/favicon/favicon.ico') }}">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="msapplication-TileImage" content="{{ asset('bundles/app/images/favicon/mstile-144x144.png') }}">
        <meta name="theme-color" content="#ffffff">
        {# block des css #}
        {% block stylesheets %}
            {% stylesheets filter='cssrewrite'
                '//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css'
                '//cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/3.1.3/css/jasny-bootstrap.css'
                '//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker3.min.css'
                '//cdn.datatables.net/1.10.13/css/dataTables.bootstrap.min.css'
                '//cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css'
                '//cdn.jsdelivr.net/highlight.js/8.5/styles/default.min.css'
                '@css_app'
            %}
                <link rel="stylesheet" href="{{ asset_url }}">
            {% endstylesheets %}
        {% endblock %}
    </head>
    <body>
        {# header de la page (menu) #}
        {% block header %}
            {% include '::menus/baseMenu.html.twig' %}
        {% endblock %}

        {# contenu qui prend toute la largeur de la page : carousel, banniere de pub, ... #}
        <div class="container-fluid">
            {% block banner %}{% endblock %}
        </div>

        {# contenu de la page #}
        <div class="container">
            {% block body %}{% endblock %}
        </div>

        {# footer de la page #}
        {% block footer %}
            {% include '::footer/baseFooter.html.twig' %}
        {% endblock %}

        {# templates des messages "alertes" (type : erreurs/succes qui se ferment tout seul) #}
        {% block alertes %}
            {% include '::alerts/baseAlert.html.twig' %}
        {% endblock %}

        {# templates des messages "modals"/"pop-in" (type : messages/confirmations qui se ferment sur action de l'utilisateur) #}
        {% block modals %}
            {% include '::modals/baseModal.html.twig' %}
        {% endblock %}

        {# block des js #}
        {% block javascripts %}
            {% javascripts
                '//cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js'
                '//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js'
                '//cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/3.1.3/js/jasny-bootstrap.min.js'
                '//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.min.js'
                '//cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js'
                '//cdn.datatables.net/1.10.13/js/dataTables.bootstrap.min.js'
                '//cdn.jsdelivr.net/highlight.js/8.5/highlight.min.js'
                '@js_app'
            %}
                <script src="{{ asset_url }}"></script>
            {% endjavascripts %}

            {# affichage des messages #}
            {% for msg in app.session.flashBag.get('success') %}
                <script type="text/javascript">showSuccessMessage('{{ msg|e('js')  }}');</script>
            {% endfor %}
            {% for msg in app.session.flashBag.get('error') %}
                <script type="text/javascript">showErrorMessage('{{ msg|e('js')  }}');</script>
            {% endfor %}
        {% endblock %}
    </body>
</html>
