<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Site{% endblock %}</title>
        {% block stylesheets %}
            {% stylesheets filter='cssrewrite'
                '//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css'
                '//cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/3.1.3/css/jasny-bootstrap.css'
                '//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker3.min.css'
                '//cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css'
            %}
                <link rel="stylesheet" href="{{ asset_url }}">
            {% endstylesheets %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('bundles/app/images/favicon.ico') }}" />
    </head>
    <body>
        {# menu canvas #}
        {% block menu_canvas %}
            {% include '::menu_canvas.html.twig' %}
        {% endblock %}

        {# menu full screen #}
        {% block menu %}
            {% include '::menu.html.twig' %}
        {% endblock %}

        {# contenu de la page #}
        <div class="container">
            {% block body %}{% endblock %}
        </div>

        {# footer #}
        <footer class="container-fluid">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <hr>
                    <p class="text-center">Version {{ appversion }}</p>
                </div>
            </div>
        </footer>

        {# js #}
        {% block javascripts %}
            {% javascripts
                '//cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js'
                '//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js'
                '//cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/3.1.3/js/jasny-bootstrap.min.js'
                '//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.min.js'
                '//cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js?skin=sons-of-obsidian'
                '@js_app'
            %}
                <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}

        {# messages #}
        {% block messages %}
            {% include '::alerts.html.twig' %}
            {% for msg in app.session.flashBag.get('success') %}
                <script type="text/javascript">showSuccessMessage('{{ msg|e('js')  }}');</script>
            {% endfor %}
            {% for msg in app.session.flashBag.get('error') %}
                <script type="text/javascript">showErrorMessage('{{ msg|e('js')  }}');</script>
            {% endfor %}
        {% endblock %}
    </body>
</html>
