{#
    params : 
        - articleCategories : string HTML structure of categories
#}
{% extends '::base.html.twig' %}

{% block title %}
    {{ parent() }} - {{ 'app.admin.search.category' | trans | capitalize }}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb">
                <li>
                    <a href="{{ path('admin_index') }}">{{ 'app.admin.index' | trans | capitalize }}</a>
                </li>
                <li class="active">
                    {{ 'app.admin.search.category' | trans | capitalize }}
                </li>
            </ol>
        </div>
    </div>
    <h1>{{ 'app.admin.search.category' | trans | capitalize }}</h1>
    {# voir dans le js #}
    <div class="jstree">
        {{ articleCategories | raw }}
    </div>
    <br>
    <a href="#" class="btn btn-default" data-toggle="modal" data-target="#category-form">
        <span class="glyphicon glyphicon-plus" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="{{ 'app.admin.add_category' | trans | capitalize }}"></span>
    </a>
    <div class="modal fade" id="category-form" tabindex="-1" role="dialog" aria-labelledby="category-form-label">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="category-form-label">{{ 'app.admin.add_category' | trans | capitalize }}</h4>
                </div>
                <div class="modal-body">
                    {% include 'AppBundle:forms:categoryForm.html.twig' with { 'form' : form } %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}