{% extends '::base.html.twig' %}

{% block title %}
    {{ parent() }} - {{ 'app.admin.search.parameter' | trans | capitalize }}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb">
                <li>
                    <a href="{{ url('admin_index') }}">{{ 'app.admin.index' | trans | capitalize }}</a>
                </li>
                <li class="active">
                    {{ 'app.admin.search.parameter' | trans | capitalize }}
                </li>
            </ol>
        </div>
    </div>
    <h1>{{ 'app.admin.search.parameter' | trans | capitalize }}</h1>
    {% for paramForm in paramsFormsTab %}
        {{ paramForm | raw }}
    {% endfor %}
{% endblock %}