{#
    params : 
        - users : array of User object
#}
{% extends '::base.html.twig' %}
{% block title %}
    {{ parent() }} - {{ 'app.admin.search.user' | trans | capitalize }}
{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb">
                <li>
                    <a href="{{ path('admin') }}">{{ 'app.admin.admin' | trans | capitalize }}</a>
                </li>
                <li class="active">
                    {{ 'app.admin.search.user' | trans | capitalize }}
                </li>
            </ol>
        </div>
    </div>
    <h1>{{ 'app.admin.search.user' | trans | capitalize }}</h1>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-addon"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></div>
                    <input type="text" class="form-control table-search" data-table-search="users" id="table-search" placeholder="{{ 'app.admin.search.user' | trans | capitalize }}">
                </div>
            </div>
            <table class="table table-condensed table-hover table-bordered" id="users">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>{{ 'app.name' | trans | capitalize }}</th>
                        <th>{{ 'app.email' | trans | capitalize }}</th>
                        <th>{{ 'app.action' | trans | capitalize }}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                        <tr>
                            <td>{{ user.id }}</td>
                            <td>{{ user.name }}</td>
                            <td>{{ user.email }}</td>
                            <td>
                                <a href="{{ path('user_account', { 'name' : user.name }) }}">{{ 'app.edit' | trans | capitalize }}</a> - 
                                <a href="{{ path('user_account', { 'name' : user.name }) }}">{{ 'app.see' | trans | capitalize }}</a> - 
                                <a href="#" data-href="{{ path('user_delete', { 'name' : user.name }) }}" data-toggle="modal" data-target="#modal-confirm">{{ 'app.delete' | trans | capitalize }}</a>
                            </td>
                        </tr>
                    {% else %}
                        {{ 'app.no_data.user' | trans | capitalize }}
                        <hr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}