{% extends '::base.html.twig' %}
{% block title %}
    {{ parent() }} - {{ 'app.admin.change_role' | trans | capitalize }} - {{ user.name }}
{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb">
                <li>
                    <a href="{{ url('admin_index') }}">{{ 'app.admin.index' | trans | capitalize }}</a>
                </li>
                <li>
                    <a href="{{ url('admin_user') }}">{{ 'app.admin.search.user' | trans | capitalize }}</a>
                </li>
                <li class="active">
                    {{ 'app.admin.change_role' | trans | capitalize }} - {{ user.name }}
                </li>
            </ol>
        </div>
    </div>
    <h1>{{ 'app.admin.change_role' | trans | capitalize }} - {{ user.name }}</h1>
    {% include 'AppBundle:forms:userChangeRoleForm.html.twig' with { 'form' : form } %}
{% endblock %}