{#
    params : 
        - form : ArticleForm object
#}
{{ form_start(form) }}
    <div class="form-group{% if form_errors(form.image) %} has-error{% endif %}">
        {{ form_label(form.image) }}
        {{ form_errors(form.image) }}
        <a class="btn btn-default btn-file">
            {{ 'app.select' | trans | capitalize }}
            {{ form_widget(form.image) }}
        </a>
    </div>


{#
    <div class="form-group{% if form_errors(form.image) %} has-error{% endif %}">
        {{ form_label(form.image) }}
        <div class="fileinput fileinput-new" data-provides="fileinput">
            <div class="fileinput-preview thumbnail" data-trigger="fileinput">
                {% if form.vars.value is not empty and form.vars.value.image is not empty %}
                    <img class="lazy" data-src="{{ asset(form.vars.value.image) }}">
                {% endif %}
            </div>
            <div>
                <span class="btn btn-default btn-file">
                    <span class="fileinput-new">{{ 'app.select' | trans | capitalize }}</span>
                    <span class="fileinput-exists">{{ 'app.change' | trans | capitalize }}</span>
                    {{ form_widget(form.image) }}
                </span>
                <a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput">{{ 'app.remove' | trans | capitalize }}</a>
            </div>
        </div>
        {{ form_errors(form.image) }}
    </div>
#}


    {{ form_row(form.title) }}
    {{ form_row(form.summary) }}
    {{ form_row(form.article) }}
    {{ form_row(form.category) }}
    {{ form_row(form.status) }}
    <button class="btn btn-primary" type="submit" formnovalidate>{{ 'app.submit' | trans | capitalize }}</button>
{{ form_end(form) }}
