{{ form_start(form) }}
    {{ form_row(form.title) }}
    {{ form_row(form.summary) }}
    {{ form_row(form.article) }}
    {{ form_row(form.articleCategory) }}
    {{ form_row(form.articleSubCategory) }}
    <button class="btn btn-primary" type="submit" formnovalidate>Submit</button>
{{ form_end(form) }}