{#
    params : 
        - form : LoginForm object
#}
{{ form_start(form) }}
    {% if error %}
        <div class="alert alert-danger">
            <p><span class="glyphicon glyphicon-alert"></span> {{ error.messageKey | trans(error.messageData, 'security') }}</p>
        </div>
    {% endif %}
    {{ form_row(form._username) }}
    {{ form_row(form._password) }}
    <button class="btn btn-block btn-primary" type="submit">{{ 'app.submit' | trans | capitalize }}</button>
    <br>
    <p class="text-center">
        <a class="text-center" href="{{ path('user_register') }}">{{ 'app.user.no_account' | trans | capitalize }}</a>
    </p>
{{ form_end(form) }}