{{ form_start(form) }}
    {% if error %}
        <div class="alert alert-danger">
            <p><span class="glyphicon glyphicon-alert"></span> {{ error.messageKey|trans(error.messageData, 'security') }}</p>
        </div>
    {% endif %}
    {{ form_row(form._username) }}
    {{ form_row(form._password) }}
    <button class="btn btn-primary" type="submit">Submit</button>
    <a href="{{ path('user_register') }}">I already have an account</a>
{{ form_end(form) }}