{{ form_start(form) }}
    {% if error %}
        <div data-abide-error class="alert callout">
            <p><i class="fi-alert"></i> {{ error.messageKey|trans(error.messageData, 'security') }}</p>
        </div>
    {% endif %}
    {{ form_row(form._username) }}
    {{ form_row(form._password) }}
    <button type="submit" class="button">Submit</button>
    <a href="{{ path('user_register') }}">I already have an account</a>
{{ form_end(form) }}