{{ form_start(form, { 
    'attr': {
        'role' : 'form',
        'id' : 'param_form' ~ param.id
    },
    'action' : url('admin_parameter')
}) }}
    {{ form_row(form.isActive, { 
        'label': param.title,
        'attr': {
            'onchange' : 'this.form.submit();'
        }
    }) }}
    <p class="help-block">{{ param.description }}</p>
    {{ form_row(form.id, { 'value' : param.id }) }}
{{ form_end(form) }}