{{ form_start(form) }}
    {{ form_row(form.email) }}
    {# pour avoir ces deux champs, il faut utiliser RepeatedType::class lors de la creation du formulaire #}
    {{ form_row(form.plainPassword.first, {
        'label': 'Password'
    }) }}
    {{ form_row(form.plainPassword.second, {
        'label': 'Repeat Password'
    }) }}
    <button type="submit" formnovalidate>Register</button>
{{ form_end(form) }}