{{ form_start(form) }}
    {{ form_row(form.email) }}
    {{ form_row(form.plainPassword.first, { 'label': 'Password' }) }}
    {{ form_row(form.plainPassword.second, { 'label': 'Repeat Password' }) }}
    <button class="btn btn-primary" type="submit" formnovalidate>Register</button>
{{ form_end(form) }}