{{ form_start(form) }}
    {{ form_row(form.email) }}
    {{ form_row(form.name) }}
    {{ form_row(form.plainPassword) }}
    <button class="btn btn-primary" type="submit">Submit</button>
{{ form_end(form) }}