{#
    params : 
        - article : Article object
        - articleForm : ArticleEditForm object
#}
{% extends '::base.html.twig' %}

{% block title %}
    {{ parent() }} - {{ article.title }}
{% endblock %}

{% block description %}
    {{ parent() }} - {{ article.title }}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb">
                <li>
                    <a href="{{ path('homepage') }}">{{ 'app.home' | trans | capitalize }}</a>
                </li>
                {% for category in categoriesTree %}
                    <li><a href="{{ path('article_by_category', { 'slug' : category.slug }) }}">{{ category.title | capitalize }}</a></li>
                {% endfor %}
                <li class="active">
                    {{ 'app.edit' | trans | capitalize }} - {{ article.title | capitalize }}
                </li>
            </ol>
        </div>
    </div>
    <h1>{{ 'app.edit' | trans | capitalize }} - {{ article.title | capitalize }}</h1>
    {# si l'utilisateur peut voir ou supprimer l'article en cours d'édition, on lui affiche le lien vers la page #}
    <div class="pull-right">
        <a class="btn btn-default" href="{{ path('article_show', { 'slug' : article.slug }) }}" role="button" data-toggle="tooltip" data-placement="top" title="{{ 'app.see' | trans | capitalize }}">
            <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
        </a>
        {% if is_granted('delete', article) %}
            <a class="btn btn-danger print-confirm" href="{{ path('article_delete', { 'slug' : article.slug }) }}" role="button" data-toggle="tooltip" data-placement="top" title="{{ 'app.delete' | trans | capitalize }}">
                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
            </a>
        {% endif %}
    </div>
    <div class="row">
        <div class="col-md-12">
            {% include 'AppBundle:forms:articleForm.html.twig' with { 'form' : articleForm } %}
        </div>
    </div>
{% endblock %}