{#
    params : 
        - articles : Article object
        - commentForm : CommentForm object
#}
{% extends '::base.html.twig' %}
{% block title %}
    {{ parent() }} - {{ article.title }}
{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb">
                <li>
                    <a href="{{ path('homepage') }}">{{ 'app.global.home' | trans }}</a>
                </li>
                <li>
                    <a href="{{ path('article_by_category', { 'id' : article.articleCategory.id }) }}">{{ article.articleCategory.articleCategory }}</a>
                </li>
                <li>
                    <a href="{{ path('article_by_sub_category', { 'id' : article.articleSubCategory.id }) }}">{{ article.articleSubCategory.articleSubCategory }}</a>
                </li>
                <li class="active">
                    {{ article.title }}
                </li>
            </ol>
        </div>
    </div>
    <section class="row">
        <div class="col-md-12">
            {% include 'AppBundle:blocs:articleDetail.html.twig' with { 'article' : article } %}
        </div>
    </section>
    <hr>
    <div class="row">
        <div class="col-md-12">
            <div class="well">
                <h4>{{ 'app.global.leave_a' | trans }} {{ 'app.global.comment' | trans }}</h4>
                {% include 'AppBundle:forms:articleCommentForm.html.twig' with { 'form' : commentForm } %}
            </div>
            {% for comment in article.articleComments %}
                {% include 'AppBundle:blocs:articleCommentForArticle.html.twig' with { 'comment' : comment } %}
            {% else %}
                {{ 'app.global.no_data.comment' | trans }}
            {% endfor %}
        </div>
    </div>
{% endblock %}