{% extends '::base.html.twig' %}

{% block title %}{{ parent() }} - {{ articleCategory.articleCategory }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb">
                <li><a href="{{ path('homepage') }}">Home</a></li>
                <li class="active">{{ articleCategory.articleCategory }}</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <h1>Articles {{ articleCategory.articleCategory }}</h1>
            {% for article in articles %}
                {% include 'AppBundle:blocs:articleTeaser.html.twig' with {'article' : article} %}
                <hr>
            {% else %}
                "No data found"
                <hr>
            {% endfor %}
        </div>
        <div class="col-md-4">
            <div class="well">
                <h4>Categories</h4>
                {% include 'AppBundle:blocs:articleCategories.html.twig' with {'categories' : categories} %}
            </div>
        </div>
    </div>
{% endblock %}
