{#
    params : 
        - articleForm : ArticleCreateForm object
#}
{% extends '::base.html.twig' %}

{% block title %}
    {{ parent() }} - {{ 'app.create_article' | trans | capitalize }}
{% endblock %}

{% block description %}
    {{ parent() }} - {{ 'app.create_article' | trans | capitalize }}
{% endblock %}

{% block ogDescription %}
    {{ parent() }} - {{ 'app.create_article' | trans | capitalize }}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb">
                <li>
                    <a href="{{ path('homepage') }}">{{ 'app.home' | trans | capitalize }}</a>
                </li>
                <li class="active">
                    {{ 'app.create_article' | trans | capitalize }}
                </li>
            </ol>
        </div>
    </div>
    <h1>{{ 'app.create_article' | trans | capitalize }}</h1>
    <div class="row">
        <div class="col-md-12">
            {% include 'AppBundle:forms:articleForm.html.twig' with { 'form' : articleForm } %}
        </div>
    </div>
{% endblock %}