{#
    params : 
        - articleCategory : ArticleCategory object (catégorie en cours)
        - categories : array of ArticleCategory object (toutes les catégories)
#}
{% extends '::base.html.twig' %}
{% block title %}
    {{ parent() }} - {{ articleCategory.articleCategory }}
{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb">
                <li>
                    <a href="{{ path('homepage') }}">{{ 'app.home' | trans }}</a>
                </li>
                <li class="active">
                    {{ articleCategory.articleCategory }}
                </li>
            </ol>
        </div>
    </div>
    <div class="row">
        <section class="col-md-8">
            <h1>Articles {{ articleCategory.articleCategory }}</h1>
            {% for article in articles %}
                <div class="row">
                    <div class="col-md-12">
                        {% include 'AppBundle:blocs:articleTeaser.html.twig' with {
                            'article' : article,
                            'printArticleImage' : true,
                            'printDeleteButton' : false
                        } %}
                        {% if not loop.last %}<hr>{% endif %}
                    </div>
                </div>
            {% else %}
                {{ 'app.no_data.article' | trans }}
                <hr>
            {% endfor %}
        </div>
        <section class="col-md-4">
            <div class="well">
                <h4>{{ 'app.categories' | trans }}</h4>
                {% include 'AppBundle:blocs:articleCategories.html.twig' with { 'categories' : categories } %}
            </div>
        </div>
    </div>
{% endblock %}