{#
    params : 
        - articleCategory : ArticleCategory object (catégorie en cours)
        - categories : array of ArticleCategory object (toutes les catégories)
#}
{% extends '::base.html.twig' %}

{% block title %}
    {{ parent() }} - {{ currentCategory.title }}
{% endblock %}

{% block description %}
    {{ parent() }} - {{ currentCategory.title }}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb">
                <li>
                    <a href="{{ path('homepage') }}">{{ 'app.home' | trans | capitalize }}</a>
                </li>
                {% for category in categoriesTree %}
                    {%  if loop.last %}
                        <li class="active">{{ category.title | capitalize }}</li>
                    {% else %}
                        <li><a href="{{ path('article_by_category', { 'slug' : category.slug }) }}">{{ category.title | capitalize }}</a></li>
                    {% endif %}
                {% endfor %}
            </ol>
        </div>
    </div>
    <div class="row">
        <section class="col-md-8">
            <h1>{{ 'app.articles' | trans | capitalize }} - {{ currentCategory.title | capitalize }}</h1>
            {% for article in articles %}
                <div class="row">
                    <div class="col-md-12">
                        {% include 'AppBundle:blocs:articleTeaser.html.twig' with {
                            'article' : article,
                            'printArticleImage' : true
                        } %}
                        {% if not loop.last %}<hr>{% endif %}
                    </div>
                </div>
            {% else %}
                {{ 'app.no_data.article' | trans | capitalize }}
                <hr>
            {% endfor %}
        </section>
        <div class="col-md-4">
            <section class="well">
                <h4>{{ 'app.search' | trans | capitalize }}</h4>
                {% include 'AppBundle:forms:searchForm.html.twig' with { 'form' : searchForm } %}
            </section>
            <section class="well">
                <h4>{{ 'app.categories' | trans | capitalize }}</h4>
                <div class="list-group-tree">
                    <div class="list-group list-group-root well">
                        {{ allCategoriesTree | raw }}
                    </div>
                </div>
            </section>
        </div>
    </div>
{% endblock %}