{#
    params : 
        - article : Article object
        - articleForm : ArticleEditForm object
#}
{% extends '::base.html.twig' %}

{% block title %}
    {{ parent() }} - {{ article.title }}
{% endblock %}

{% block description %}
    {{ parent() }} - {{ article.title }}
{% endblock %}

{% block ogDescription %}
    {{ parent() }} - {{ article.title }}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb">
                <li>
                    <a href="{{ path('homepage') }}">{{ 'app.home' | trans | capitalize }}</a>
                </li>
                {% for category in categoriesTree %}
                    <li><a href="{{ path('article_by_category', { 'slug' : category.slug }) }}">{{ category.title | capitalize }}</a></li>
                {% endfor %}
                <li class="active">
                    {{ 'app.edit' | trans | capitalize }} - {{ article.title | capitalize }}
                </li>
            </ol>
        </div>
    </div>
    <h1>{{ 'app.edit' | trans | capitalize }} - {{ article.title | capitalize }}</h1>
    {# si l'utilisateur peut voir ou supprimer l'article en cours d'édition, on lui affiche le lien vers la page #}
    <div class="pull-right">
        <a class="btn btn-default" href="{{ path('article_show', { 'slug' : article.slug }) }}" role="button" data-toggle="tooltip" data-placement="top" title="{{ 'app.see' | trans | capitalize }}">
            <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
        </a>
        <a class="btn btn-default" href="{{ path('article_create') }}" role="button" data-toggle="tooltip" data-placement="top" title="{{ 'app.create_article' | trans | capitalize }}">
            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
        </a>
        {% if is_granted('delete', article) %}
            <a class="btn btn-danger print-confirm" href="{{ path('article_delete', { 'slug' : article.slug }) }}" role="button" data-toggle="tooltip" data-placement="top" title="{{ 'app.delete' | trans | capitalize }}">
                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
            </a>
        {% endif %}
    </div>
    <div class="row">
        <div class="col-md-12">
            {% include 'AppBundle:forms:articleForm.html.twig' with { 'form' : articleForm } %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <hr>
            <h2>{{ 'app.log' | trans | capitalize }}</h2>
            {% for article in articleLogs %}
                <span class="glyphicon glyphicon-time"></span> {{ article.loggedAt | date("F jS \\a\\t g:ia") }}
                <ul>
                    {% if article.data.title is defined %}<li><strong>{{ 'app.form.title' | trans | capitalize }}</strong> : {{ article.data.title }}</li>{% endif %}
                    {% if article.data.summary is defined %}<li><strong>{{ 'app.form.summary' | trans | capitalize }}</strong> : {{ article.data.summary }}</li>{% endif %}
                    {% if article.data.article is defined %}<li><strong>{{ 'app.form.article' | trans | capitalize }}</strong> : {{ article.data.article | raw }}</li>{% endif %}
                </ul>
                <a href="{{ path('article_rollback', { 'id' : article.objectId, 'version' : article.version }) }}" class="btn btn-default">{{ 'app.revert' | trans | capitalize }}</a>
                <hr>
            {% endfor %}
        </div>
    </div>
{% endblock %}