{% extends '::base.html.twig' %}

{% block title %}{{ parent() }} - {{ articleSubCategory.articleSubCategory }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb">
                <li><a href="{{ path('homepage') }}">Home</a></li>
                <li><a href="{{ path('article_by_category', { 'id' : articleSubCategory.articleCategory.id }) }}">{{ articleSubCategory.articleCategory.articleCategory }}</a></li>
                <li class="active">{{ articleSubCategory.articleSubCategory }}</a></li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <h1>Articles {{ articleSubCategory.articleSubCategory }}</h1>
            {% for article in articles %}
                <div class="row">
                    <div class="col-md-12">
                        {% include 'AppBundle:blocs:articleTeaser.html.twig' with {
                            'article' : article
                        } %}
                        <hr>
                    </div>
                </div>
            {% else %}
                "No data found"
                <hr>
            {% endfor %}
        </div>
        <div class="col-md-4">
            <div class="well">
                <h4>Categories</h4>
                {% include 'AppBundle:blocs:articleCategories.html.twig' with {
                    'categories' : categories
                } %}
            </div>
        </div>
    </div>
{% endblock %}
