{#
    params : 
        - lastArticles : array of Articles object (x derniers articles pour le carousel)
        - articles : array of Articles object
        - articlesPagination : array of :
            - page : int
            - pages_count : int
            - page_name : string (nom de la route à générer)
            - ajax_callback : boolean (doit-on utiliser la pagination en ajax ?)
        - categoriesTree : array of ArticleCategories
#}
{% extends '::base.html.twig' %}

{% block title %}
    {{ parent() }} - {{ 'app.home' | trans | capitalize }}
{% endblock %}

{% block description %}
    {{ parent() }} - {{ 'app.home' | trans | capitalize }}
{% endblock %}

{% block banner %}
    {% if isActiveCarousel %}
        <div class="row">
            <div class="col-md-12">
                {% include 'AppBundle:blocs:articleCarousel.html.twig' with { 'articles' : lastArticles } %}
                <br>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block body %}
    <div class="row">
        <section class="col-md-8">
            <h1 class="page-header">{{ 'app.articles' | trans | capitalize }}</h1>
            {% include 'AppBundle:blocs:articleTeaserList.html.twig' with {
                'articles' : articles,
                'printArticleImage' : true
            } %}
            <nav class="text-center">
                {% include 'AppBundle:blocs:pagination.html.twig' with { 'pagination' : articlesPagination } %}
            </nav>
        </section>
        <div class="col-md-4">
            <section class="well">
                <h4>{{ 'app.categories' | trans | capitalize }}</h4>
                <div class="list-group-tree">
                    <div class="list-group list-group-root well">
                        {{ render(controller('AppBundle:Category:tree')) }}
                    </div>
                </div>
            </section>
        </div>
    </div>
{% endblock %}