{#
    params : 
        - lastArticles : array of Articles object (x derniers articles pour le carousel)
        - articles : array of Articles object
        - articlesPagination : array of :
            - page : int
            - pages_count : int
            - page_name : string (nom de la route à générer)
            - ajax_callback : boolean (doit-on utiliser la pagination en ajax ?)
        - searchForm : SearchForm object
        - categories : array of ArticleCategories
#}
{% extends '::base.html.twig' %}

{% block title %}
    {{ parent() }} - {{ 'app.home' | trans }}
{% endblock %}

{% block banner %}
    <div class="row">
        <div class="col-md-12">
            {% include 'AppBundle:blocs:articleCarousel.html.twig' with { 'articles' : lastArticles } %}
            <br>
        </div>
    </div>
{% endblock %}

{% block body %}
    <div class="row">
        <section class="col-md-8">
            <h1 class="page-header">{{ 'app.articles' | trans }}</h1>
            {% include 'AppBundle:blocs:articleTeaserList.html.twig' with {
                'articles' : articles,
                'printArticleImage' : true,
                'printDeleteButton' : false
            } %}
            <nav class="text-center">
                {% include 'AppBundle:blocs:pagination.html.twig' with { 'pagination' : articlesPagination } %}
            </nav>
        </section>
        <div class="col-md-4">
            <section class="well">
                <h4>{{ 'app.search' | trans }}</h4>
                {% include 'AppBundle:forms:searchForm.html.twig' with { 'form' : searchForm } %}
            </section>
            <section class="well">
                <h4>{{ 'app.categories' | trans }}</h4>
                {% include 'AppBundle:blocs:articleCategories.html.twig' with { 'categories' : categories } %}
            </section>
        </div>
    </div>
{% endblock %}