{#
    params : 
        - searchResults : array of Articles object
#}
{% extends '::base.html.twig' %}

{% block title %}
    {{ parent() }} - {{ 'app.search' | trans | capitalize }}
{% endblock %}

{% block description %}
    {{ parent() }} - {{ 'app.search' | trans | capitalize }}
{% endblock %}

{% block ogDescription %}
    {{ parent() }} - {{ 'app.search' | trans | capitalize }}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb">
                <li>
                    <a href="{{ url('homepage') }}">{{ 'app.home' | trans | capitalize }}</a>
                </li>
                <li class="active">
                    {{ 'app.search' | trans | capitalize }}
                </li>
            </ol>
        </div>
    </div>
    <section class="row">
        <div class="col-md-12">
            {% if term is not null %}
                <strong>{{ term }}</strong> : 
            {% endif %}
            {% if searchResults|length > 0 %}
                {{ searchResults|length }} {{ 'app.result' | trans }}{% if searchResults|length > 1 %}s{% endif %}
            {% endif %}
        </div>
    </section>
    {% include 'AppBundle:blocs:articleTeaserList.html.twig' with { 
        'articles' : searchResults,
        'printArticleImage' : false
    } %}
{% endblock %}