{#
    params : 
        - searchForm : SearchForm object
        - searchResults : array of Articles object
#}
{% extends '::base.html.twig' %}

{% block title %}
    {{ parent() }} - {{ 'app.search' | trans }}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb">
                <li>
                    <a href="{{ path('homepage') }}">{{ 'app.home' | trans }}</a>
                </li>
                <li class="active">
                    {{ 'app.search' | trans }}
                </li>
            </ol>
        </div>
    </div>
    <section class="row">
        <div class="col-md-12">
            {% include 'AppBundle:forms:searchForm.html.twig' with { 'form' : searchForm } %}
            {% if searchResults|length > 0 %}{{ searchResults|length }} {{ 'app.result' | trans }}{% if searchResults|length > 1 %}s{% endif %}{% endif %}
        </div>
    </section>
    {% include 'AppBundle:blocs:articleTeaserList.html.twig' with { 
        'articles' : searchResults,
        'printArticleImage' : false,
        'printDeleteButton' : false
    } %}
{% endblock %}