{#
    params : 
        - user : User object
        - userForm : UserForms object
        - userArticles : array of Article
        - userComments : array of UserComment
#}
{% extends '::base.html.twig' %}

{% block title %}
    {{ parent() }} - {{ user.name }} - {{ 'app.user.account' | trans | capitalize }}
{% endblock %}

{% block description %}
    {{ parent() }} - {{ user.name }} {{ 'app.user.account' | trans | capitalize }}
{% endblock %}

{% block ogDescription %}
    {{ parent() }} - {{ user.name }} {{ 'app.user.account' | trans | capitalize }}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb">
                <li>
                    <a href="{{ url('homepage') }}">{{ 'app.home' | trans | capitalize }}</a>
                </li>
                <li class="active">
                    {{ user.name }}</a>
                </li>
            </ol>
        </div>
    </div>
    <div class="row">
        <h1 class="page-header">{{ user.name }}</h1>
        <div class="col-md-3">
            <div class="thumbnail">
                {% if user.avatar %}
                    <img class="lazy img-responsive" data-src="{{ absolute_url(asset(user.avatar)) }}" alt="{{ user.name }}" width="200px">
                {% else %}
                    <img class="lazy img-responsive" data-src="{{ absolute_url(asset('bundles/app/images/defaultAvatar.png')) }}" alt="{{ user.name }}" width="200px">
                {% endif %}
                <div class="caption">
                    <ul class="nav nav-pills nav-stacked nav-hashtag" role="tablist">
                        <li role="presentation" class="active">
                            <a href="#account" aria-controls=account role="tab" data-toggle="tab">{{ 'app.user.account' | trans | capitalize }}</a>
                        </li>
                        <li role="presentation" class="dropdown">
                            <a href="#" class="dropdown-toggle" id="user-articles" data-toggle="dropdown" aria-controls="user-articles-contents" aria-expanded="false">{{ 'app.articles' | trans | capitalize }} <span class="caret"></span></a>
                            <ul class="dropdown-menu" aria-labelledby="user-articles" id="user-articles-contents">
                                <li>
                                    <a href="#articles" aria-controls=articles role="tab" data-toggle="tab">{{ 'app.articles' | trans | capitalize }} <span class="badge">{{ userArticles | length }}</span></a>
                                </li>
                                <li>
                                    <a href="{{ url('article_create') }}">{{ 'app.create_article' | trans | capitalize }}</a>
                                </li>
                            </ul>
                        </li>
                        <li role="presentation">
                            <a href="#comments" aria-controls=comments role="tab" data-toggle="tab">{{ 'app.comments' | trans | capitalize }} <span class="badge">{{ userComments | length }}</span></a>
                        </li>
                        <li role="presentation">
                            <a href="{{ url('user_logout') }}">{{ 'app.user.logout' | trans | capitalize }}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane fade in active" id="account">
                    <h2>{{ 'app.user.account' | trans | capitalize }}</h2>
                    {{ 'app.user.member_since' | trans | capitalize }} {{ user.createdAt | date("d/m/Y") }}
                    {% if is_granted('edit', user) %}
                        {% include 'AppBundle:forms:userForm.html.twig' with { 'form' : userForm } %}
                    {% else %}
                        {% include 'AppBundle:blocs:userAccount.html.twig' with { 'user' : user } %}
                    {% endif %}
                </div>
                <div role="tabpanel" class="tab-pane fade" id="articles">
                    <h2>{{ 'app.articles' | trans | capitalize }}</h2>
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#all" aria-controls="online" role="tab" data-toggle="tab">{{ 'app.user.all' | trans | capitalize }} <span class="badge">{{ userArticles | length }}</span></a></li>
                        <li role="presentation"><a href="#online" aria-controls="online" role="tab" data-toggle="tab">{{ 'app.user.published' | trans | capitalize }} <span class="badge">{{ userPublishedArticles | length }}</span></a></li>
                        <li role="presentation"><a href="#draft" aria-controls="draft" role="tab" data-toggle="tab">{{ 'app.user.draft' | trans | capitalize }} <span class="badge">{{ userDraftArticles | length }}</span></a></li>
                    </ul>
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="all">
                            {% for userArticle in userArticles %}
                                {% include 'AppBundle:blocs:articleTeaser.html.twig' with {
                                    'article' : userArticle,
                                    'printArticleImage' : false
                                } %}
                                {% if not loop.last %}<hr>{% endif %}
                            {% else %}
                                <br>
                                {{ 'app.no_data.article' | trans | capitalize }}
                                <hr>
                            {% endfor %}
                        </div>
                        <div role="tabpanel" class="tab-pane" id="online">
                            {% for userPublishedArticle in userPublishedArticles %}
                                {% include 'AppBundle:blocs:articleTeaser.html.twig' with {
                                    'article' : userPublishedArticle,
                                    'printArticleImage' : false
                                } %}
                                {% if not loop.last %}<hr>{% endif %}
                            {% else %}
                                <br>
                                {{ 'app.no_data.article' | trans | capitalize }}
                                <hr>
                            {% endfor %}
                        </div>
                        <div role="tabpanel" class="tab-pane" id="draft">
                            {% for userDraftArticle in userDraftArticles %}
                                {% include 'AppBundle:blocs:articleTeaser.html.twig' with {
                                    'article' : userDraftArticle,
                                    'printArticleImage' : false
                                } %}
                                {% if not loop.last %}<hr>{% endif %}
                            {% else %}
                                <br>
                                {{ 'app.no_data.article' | trans | capitalize }}
                                <hr>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="comments">
                    <h2>{{ 'app.comments' | trans | capitalize }}</h2>
                    <div class="row">
                        <div class="col-md-12">
                            {% include 'AppBundle:blocs:articleCommentForUserAccount.html.twig' with { 'comments' : userComments } %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}