{#
    params : 
        - user : User object
        - userForm : UserForms object
        - userArticles : array of Article
        - userComments : array of UserComment
#}
{% extends '::base.html.twig' %}
{% block title %}
    {{ parent() }} - {{ user.name }}
{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb">
                <li>
                    <a href="{{ path('homepage') }}">{{ 'app.home' | trans }}</a>
                </li>
                <li class="active">
                    {{ user.name }}</a>
                </li>
            </ol>
        </div>
    </div>
    <div class="row">
        <h1 class="page-header">{{ user.name }}</h1>
        <div class="col-md-4">
            <div class="thumbnail">
                <img class="lazy" data-src="{{ asset('uploads/' ~ user.avatar) }}" alt="{{ user.name }}" width="300px">
                <div class="caption">
                    <ul class="nav nav-pills nav-stacked nav-hashtag" role="tablist">
                        <li role="presentation" class="active">
                            <a href="#account" aria-controls=account role="tab" data-toggle="tab">{{ 'app.user.account' | trans }}</a>
                        </li>
                        <li role="presentation">
                            <a href="#articles" aria-controls=articles role="tab" data-toggle="tab">{{ 'app.articles' | trans }} <span class="badge">{{ userArticles | length }}</span></a>
                        </li>
                        <li role="presentation">
                            <a href="#comments" aria-controls=comments role="tab" data-toggle="tab">{{ 'app.comments' | trans }} <span class="badge">{{ userComments | length }}</span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane fade in active" id="account">
                    <h2>{{ 'app.user.account' | trans }}</h2>
                    {{ 'app.user.member_since' | trans }} {{ user.createdAt | date("d/m/Y") }}
                    {% if is_granted('ROLE_USER') and app.user.id == user.id %}
                        {% include 'AppBundle:forms:userForm.html.twig' with { 'form' : userForm } %}
                    {% else %}
                        {% include 'AppBundle:blocs:userAccount.html.twig' with { 'user' : user } %}
                    {% endif %}
                </div>
                <div role="tabpanel" class="tab-pane fade" id="articles">
                    <h2>{{ 'app.articles' | trans }}</h2>
                    <a  class="btn btn-default" href="{{ path('article_create') }}" role="button">Create</a>
                    {% for userArticle in userArticles %}
                        <div class="row">
                            <div class="col-md-12">
                                {% include 'AppBundle:blocs:articleTeaser.html.twig' with {
                                    'article' : userArticle,
                                    'printArticleImage' : true,
                                    'printDeleteButton' : true
                                } %}
                                {% if not loop.last %}<hr>{% endif %}
                            </div>
                        </div>
                    {% else %}
                        {{ 'app.no_data.article' | trans }}
                        <hr>
                    {% endfor %}
                </div>
                <div role="tabpanel" class="tab-pane fade" id="comments">
                    <h2>{{ 'app.comments' | trans }}</h2>
                    <div class="row">
                        <div class="col-md-12">
                            {% for userComment in userComments %}
                                {% include 'AppBundle:blocs:articleCommentForUserAccount.html.twig' with { 'comment' : userComment } %}
                            {% else %}
                                {{ 'app.no_data.comment' | trans }}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}