{% extends '::base.html.twig' %}

{% block title %}
    {{ parent() }} - {{ 'app.user.register' | trans | capitalize }}
{% endblock %}

{% block description %}
    {{ parent() }} - {{ 'app.user.register' | trans | capitalize }}
{% endblock %}

{% block ogDescription %}
    {{ parent() }} - {{ 'app.user.register' | trans | capitalize }}
{% endblock %}

{% block body %}
    <h2 class="text-center">{{ 'app.user.register' | trans | capitalize }}</h2>
    <section class="row">
        <div class="col-md-6 col-md-offset-3{% if error %} animated shake{% endif %}">
            <div class="well">
                <div class="row">
                    <div class="col-md-2">
                        <img class="media-object lazy" data-src="{{ absolute_url(asset('bundles/app/images/logo.png')) }}" alt="logo" width="60px">
                    </div>
                    <div class="col-md-10">
                        {% include 'AppBundle:forms:registerForm.html.twig' with { 'form' : form } %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}