{#
    params : 
        - comment : ArticleComment object
#}
<div class="media">
    <a class="pull-left" href="{{ path('user_account', { 'name' : comment.user.name }) }}">
        <img class="media-object lazy" data-src="{{ asset('uploads/' ~ comment.user.avatar) }}" alt="{{ comment.user.name }}" width="80px">
    </a>
    <div class="media-body">
        <h4 class="media-heading">
            <a href="{{ path('user_account', { 'name' : comment.user.name }) }}">
                {{ comment.user.name }}
            </a>
            <small>{{ comment.createdAt | date("F jS \\a\\t g:ia") }}</small>
        </h4>
        {{ comment.articleComment }}
    </div>
</div>
