{#
    params : 
        - article : Article object
        - printArticleImage : boolean
        - printDeleteButton : boolean pour la vue liste de la home on ne veut pas le bouton supprimer, mais dans ma partie compte utilisateur on le veut
#}
<h2>
    <a href="{{ path('article_show', { 'slug' : article.slug }) }}">
        {{ article.title }}
    </a>
</h2>
{# si l'utilisateur peut éditer l'article, on lui affiche le lien vers la page #}
{% if is_granted('edit', article) %}
    <div class="pull-right">
        <a class="btn btn-default" href="{{ path('article_edit', { 'id' : article.id }) }}" role="button">
            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
        </a>
        {% if printDeleteButton %}
            &nbsp;<a class="btn btn-danger" href="{{ path('article_delete', { 'id' : article.id }) }}" role="button">
                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
            </a>
        {% endif %}
    </div>
{% endif %}
<p class="lead">
    {% if article.user.avatar %}
        <img class="img-thumbnail img-responsive lazy" data-src="{{ asset('uploads/' ~ article.user.avatar) }}" alt="{{ article.user.name }}" width="80px">
    {% else %}
        <img class="img-thumbnail img-responsive lazy" data-src="{{ asset('bundles/app/images/defaultAvatar.png') }}" alt="{{ article.user.name }}" width="80px">
    {% endif %}
    {{ 'app.by' | trans | capitalize }} <a href="{{ path('user_account', { 'name' : article.user.name }) }}">{{ article.user.name }}</a>
</p>
<p>
    <span class="glyphicon glyphicon-time"></span> {{ 'app.posted_on' | trans | capitalize }} {{ article.publishedAt | ago }}
    <br>
    <span class="glyphicon glyphicon-edit"></span> {{ 'app.last_edit_on' | trans | capitalize }} {{ article.updatedAt | ago }}
</p>
{% if printArticleImage == true %}
    <img class="img-thumbnail img-responsive lazy" data-src="{{ asset('uploads/' ~ article.image) }}" alt="{{ article.title }}" width="100%">
{% endif %}
<p>
    {{ article.summary }}
</p>
<a class="btn btn-primary" href="{{ path('article_show', { 'slug' : article.slug }) }}">
    {{ 'app.read_more' | trans | capitalize }}
</a>