{#
    params : 
        - comments : Array of ArticleComment object
#}
{% for comment in comments %}
    <div class="panel panel-default">
        <div class="panel-heading">
            {{ comment.createdAt | date("F jS \\a\\t g:ia") }}
        </div>
        <div class="panel-body">
            {{ comment.articleComment }}
        </div>
        <div class="panel-footer">
            {{ 'app.article' | trans | capitalize }} : <a href="{{ path('article_show', { 'slug' : comment.article.slug }) }}">{{ comment.article.title }}</a>
        </div>
    </div>
{% else %}
    <br>
    {{ 'app.no_data.comment' | trans | capitalize }}
{% endfor %}
