{#
    params : 
        - article : Article object
#}
<h1>{{ article.title }}</h1>
{# si l'utilisateur peut éditer ou supprimer l'article, on lui affiche le lien vers la page #}
<div class="pull-right">
    {% if is_granted('edit', article) %}
        <a class="btn btn-default" href="{{ path('article_edit', { 'slug' : article.slug }) }}" role="button" data-toggle="tooltip" data-placement="top" title="{{ 'app.edit' | trans | capitalize }}">
            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
        </a>
    {% endif %}
    {% if is_granted('delete', article) %}
        <a class="btn btn-danger print-confirm" href="{{ path('article_delete', { 'slug' : article.slug }) }}" role="button" data-toggle="tooltip" data-placement="top" title="{{ 'app.delete' | trans | capitalize }}">
            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
        </a>
    {% endif %}
</div>
<p class="lead">
    {{ 'app.by' | trans | capitalize }} <a href="{{ path('user_account', { 'slug' : article.user.slug }) }}">{{ article.user.name }}</a>
</p>
<p>
    <span class="glyphicon glyphicon-time"></span> {{ 'app.posted' | trans | capitalize }} {{ article.publishedAt | ago }}
    <br>
    <span class="glyphicon glyphicon-edit"></span> {{ 'app.last_edit' | trans | capitalize }} {{ article.updatedAt | ago }}
</p>
<img class="center-block img-responsive lazy" data-src="{{ asset('uploads/' ~ article.image) }}" alt="{{ article.title }}" width="100%">
<hr>
<p class="lead">
    {{ article.summary }}
</p>
<p>
    {{ article.article | raw }}
</p>
