{#
    params : 
        - articles : array of Article object
#}
{% if articles | length > 0 %}
    <div id="article-carousel" class="carousel slide" data-ride="carousel">
        {# puces #}
        <ol class="carousel-indicators">
            {% for article in articles %}
                <li data-target="#article-carousel" data-slide-to="{{ loop.index0 }}"{% if loop.index0 == 0 %} class="active"{% endif %}></li>
            {% endfor %}
        </ol>
        {# contenu du carousel #}
        <div class="carousel-inner" role="listbox">
            {% for article in articles %}
                <div class="item{% if loop.index0 == 0 %} active{% endif %}">
                    <img class="orbit-image lazy" data-src="{{ asset('uploads/' ~ article.image) }}" alt="{{ article.title }}" width="100%">
                    <div class="carousel-caption">
                        <h3><a href="{{ path('article_show', { 'id' : article.id }) }}">{{ article.title }}</a></h3>
                        <p>{{ article.summary }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
        {# fleches de control #}
        <a class="left carousel-control" href="#article-carousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">{{ 'app.global.previous' | trans }}</span>
        </a>
        <a class="right carousel-control" href="#article-carousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">{{ 'app.global.next' | trans }}</span>
        </a>
    </div>
{% endif %}