{#
    params : 
        - comment : ArticleComment object
#}
<div class="panel panel-default">
    <div class="panel-heading">
        {{ comment.createdAt | date("F jS \\a\\t g:ia") }}
    </div>
    <div class="panel-body">
        {{ comment.articleComment }}
    </div>
    <div class="panel-footer">
        {{ 'app.global.article' | trans }} : <a href="{{ path('article_show', { 'id' : comment.article.id }) }}">{{ comment.article.title }}</a>
    </div>
</div>

