{#
    params : 
        - article : Article object
#}
<h1>{{ article.title }}</h1>
{% if is_granted('ROLE_USER') and app.user.id == article.user.id %}
    <a class="btn btn-default pull-right" href="{{ path('article_edit', { 'id' : article.id }) }}" role="button">
        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edit
    </a>
{% endif %}
<p class="lead">
    By <a href="{{ path('user_account', { 'name' : article.user.name }) }}">{{ article.user.name }}</a>
</p>
<p>
    <span class="glyphicon glyphicon-time"></span> Posted on {{ article.publishedAt | date("F jS \\a\\t g:ia") }}
</p>
<img class="center-block img-responsive lazy" data-src="{{ asset('uploads/' ~ article.image) }}" alt="{{ article.title }}" width="100%">
<hr>
<p class="lead">
    {{ article.summary }}
</p>
<p>
    {{ article.article | raw }}
</p>
